@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    max-height: 1000px;
    min-height: 912px;
    min-width: 1652px;
}
#side-bar{
    display: flex;
    min-height: 912px;
    min-width: 380px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 3;
    left:-380px;
    transition: all 0.5s;
    border-right: 1px solid black;
}
#side-bar__clock{
    height: 135px;
    width: 300px;
    margin: 20px auto 0;
    text-align: center;
}
#side-bar__clock > h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
#side-bar__clock > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#side-bar__clock > div > h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:rgba(0,0,0,0.5);
    margin-left: 40px;
}
#side-bar__clock > div > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color:rgba(0,0,0,0.7);
    margin-left: 10px;
    margin-right: auto;
}

#side-bar__link{
    height: 137px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#side-bar__link__homebtn {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 68px;
    width: 152px;
    margin: 0px auto;
    border-radius: 20px;
    border: 2px rgba(0,0,0,0.5) solid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size:25px;
}
#side-bar__link__homebtn:hover{
    cursor: pointer;
}

#side-bar__link__writebtn{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 68px;
    width: 152px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px rgba(0,0,0,0.5) solid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size:25px;
}
#side-bar__link__writebtn:hover{
    cursor: pointer;
}
#side-bar__best-contents{
    height: 365px;
    width: 340px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    text-align: center;
}
#side-bar__music{
    width:340px;
    height: 140px;
    border-radius: 10px;
    margin: 5% 0;
}
#side-bar__menu{
    height: 90px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#side-bar__menu div:first-child{
    display: flex;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: #F50000;
    margin-left: 20px;
    border-radius: 10px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
#side-bar__menu div:first-child:hover{
    cursor: pointer;
}
#side-bar__menu div:last-child{
    display: flex;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 20px;
    border-radius: 10px;
    color:#F50000;
    font-family: 'Open Sans', sans-serif;
    box-shadow: #F50000 0 0 0 2px inset;
    font-size: 17px;
}
#side-bar__menu div:last-child:hover{
    cursor: pointer;
}
#main-screen{
    display: flex;
    min-height:927px; 
    min-width: 1580px;
    padding-left: 100px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}
#main-screen__body{
    position: relative;
    height: 660px;
    width: 1580px;
    display: flex;
}
#main-screen__contents-list{
    display: flex;
    height: 590px;
    width: 1185px;
    border-radius: 10px;
    margin:20px;
    box-shadow: 0 0 0 4px #F50000 inset;
    align-items: center;
    justify-content: center;
}
#main-screen__contents-list__table{
    width: 1125px;
    height: 560px;
    display: flex;
    flex-direction: column;
}
#main-screen__contents-list__table thead{
   width: 1125px;
   border-bottom: 2px solid rgba(0,0,0,0.2)
}
#main-screen__contents-list__table thead tr{ 
    width: 1125px;
    height: 10%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    font-weight: 600;
    color:rgba(0,0,0,0.5);
    justify-content: space-between;
    margin-top:10px;
    padding-bottom: 3px;
    
}
#main-screen__contents-list__table thead tr th:first-child{
    width: 112px;
}
#main-screen__contents-list__table thead tr th:nth-child(2){
    width: 112px;
}  
#main-screen__contents-list__table thead tr th:nth-child(3){
    width: 675px;
}  
#main-screen__contents-list__table thead tr th:nth-child(4){
    width: 112px;;
    margin-right: 1px;
}  
#main-screen__contents-list__table thead tr th:last-child{
    width: 112px;
}  
#main-screen__contents-list__table tbody{
    height: 504px;
    width: 1125px;
}
#main-screen__contents-list__table tbody tr{
    width: 1125px;
    height: 25px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    font-weight: 600;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding:2px 0;
}
#main-screen__contents-list__table tbody tr td:first-child{
    width: 112px;
}
#main-screen__contents-list__table tbody tr td:nth-child(2){
    width: 112px;
}
#main-screen__contents-list__table tbody tr td:nth-child(2) span{
    padding: 0 20px;
    border-radius: 5px;
    color:white;
    background-color: #F50000;
}


#main-screen__contents-list__table tbody tr td:nth-child(3){
    width: 675px;
    text-align: start;
}
#main-screen__contents-list__table tbody tr td:nth-child(3):hover{
    border-bottom: 2px solid #F50000;
}

#main-screen__contents-list__table tbody tr td:nth-child(4){
    width: 112px;
}
#main-screen__contents-list__table tbody tr td:last-child{
    width: 112px;
}
#main-screen__widget{
    position:absolute;
    display: flex;
    flex-direction: column;
    height: 590px;
    width: 320px;
    right: 0px;
    margin:20px;
}
#main-screen__widget__news{
    height: 168px;
    width: 320px;
    margin-bottom:10px;
    box-shadow: 0 0 0 4px #F50000 inset;
    border-radius: 10px;
}
#main-screen__widget__todos{
    height: 392px;
    width: 320px;
    margin-top:20px;
    box-shadow: 0 0 0 4px #F50000 inset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#main-screen__widget__todos span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:20px;
    margin:10px 0;
}

#main-screen__widget__todos ul{
    width: 288px;
    height: 300px;
    text-align: start;
}
#main-screen__widget__todos ul li{
    display: flex;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:15px;
}
#main-screen__widget__todos ul li button{
    border-radius: 20%;
    background-color: transparent;
    border: none;
}
#main-screen__widget__todos ul li button:hover{
    cursor: pointer;
}
#main-screen__widget__todos ul li button:active{
    scale: 90%;
}
#main-screen__widget__todos__submit input{
    font-family: 'Open Sans', sans-serif;
    color:rgba(0,0,0,0.5);
    font-weight: 600;
    width: 288px;
    height: 30px;
    border: none;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    transition: all 1s ease-in-out;
}
#main-screen__widget__todos__submit input:focus{
    scale: 105%;
    background-color: rgba(0,0,0,0.1);
}
#main-screen__footer{
    height: 265px;
    width: 1580px;
    display: flex;
    overflow-x:scroll;
    align-items: center;
}
#main-screen__footer::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
}
#main-screen__footer::-webkit-scrollbar-thumb {
    background-color: transparent;
}
#main-screen__footer::-webkit-scrollbar-track {
    background-color: transparent;
}
#main-screen__footer:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
#main-screen__footer ul{
    height: 204px;
    display: flex;
}
#main-screen__footer ul li {
    height: 204px;
    width: 500px ;
    border: 1px solid black;
    margin:0 10px;
    padding: 10px;
}
#main-screen__footer ul li > h1{
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
    font-weight: 800;
    margin-bottom: 10px;
}
#main-screen__footer ul li > img{
    width: 50%;
    height: 30%;
    margin-bottom: 10px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}
#main-screen__footer ul li > h2{
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    font-weight: 600;
    margin-bottom: 10px;
}
#main-screen__footer ul li > span{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 400;
}

#menubtn{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    position: absolute;
    top:10px;
    left:10px;    
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#menubtn i:hover{
    cursor: pointer;   
}
.bg{
    position: fixed;
    top:0;
    left: 0;
    opacity: 0;
    min-height:100%; 
    min-width: 100%;
    z-index: -1;
    transition: all 0.001s;   
}

input#side-bar__on:checked ~ #side-bar{
    left:0;
}
input#side-bar__on:checked ~ #main-screen{
    opacity: 0.4;
}
input#side-bar__on:checked ~ .bg{
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
/* 메뉴 닫는 X버튼 */
/* #menuCloseBtn {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    right: 15px;
    top: 10px;
} */ 


