<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://kit.fontawesome.com/dc0708434c.js"
      crossorigin="anonymous"
    ></script>
    <title>항해99 시크릿 커뮤니티</title>
  </head>
  <body>
    <div id="side-bar">
      <div id="side-bar__clock">
        <h1>Oct 19 2022</h1>
        <div>
          <h3>pm</h3>
          <h2>05:05</h2>
        </div>
      </div>
      <div id="side-bar__link">
        <div id="side-bar__link__homebtn">Home</div>
        <div id="side-bar__link__writebtn">글 쓰기</div>
      </div>
      <div id="side-bar__best-contents">
        <h1>HOT 게시글</h1>
        <div></div>
      </div>
      <iframe
        id="side-bar__music"
        src="https://www.youtube.com/embed/zStQ_r6woVE?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div id="side-bar__menu">
        <div>마이페이지</div>
        <div>로그아웃</div>
      </div>
    </div>
    <div id="menubtn"><i class="fa-solid fa-bars"></i></div>
    <div id="main-screen">
      <div id="main-screen__body">
        <div id="main-screen__contents-list">
          <table id="main-screen__contents-list__table">
            <thead>
              <tr>
                <th><span>번호</span></th>
                <th><span>분류</span></th>
                <th><span>제목</span></th>
                <th><span>작성자</span></th>
                <th><span>좋아요</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="list__num"> 1 </span>
                </td>
                <td>
                  <span class="list__type"> 잡담 </span>
                </td>
                <td>
                  <span class="list__type">
                    <a href="https://naver.com">다들 행복하세요</a>
                  </span>
                </td>
                <td>
                  <span class="list__writer"> 이민용 </span>
                </td>
                <td>
                  <span class="list__like">10</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="list__num"> 1 </span>
                </td>
                <td>
                  <span class="list__type"> 잡담 </span>
                </td>
                <td>
                  <span class="list__type">
                    <a href="https://naver.com">다들 행복하세요</a>
                  </span>
                </td>
                <td>
                  <span class="list__writer"> 이민용 </span>
                </td>
                <td>
                  <span class="list__like">10</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="list__num"> 1 </span>
                </td>
                <td>
                  <span class="list__type"> 잡담 </span>
                </td>
                <td>
                  <span class="list__type">
                    <a href="https://naver.com">다들 행복하세요</a>
                  </span>
                </td>
                <td>
                  <span class="list__writer"> 이민용 </span>
                </td>
                <td>
                  <span class="list__like">10</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="main-screen__widget">
          <div id="main-screen__widget__news"></div>
          <div id="main-screen__widget__todos">
            <span>To-Do</span>
            <ul>
              <li>밥 먹기<button class="fa-solid fa-trash"></button></li>
              <li>공부 하기<button class="fa-solid fa-trash"></button></li>
            </ul>
            <form id="main-screen__widget__todos__submit">
              <input
                type="text"
                required
                maxlength="20"
                placeholder="할 일을 적어주세요"
              />
            </form>
          </div>
        </div>
      </div>
      <div id="main-screen__footer">
        <ul>
          <li>
            <h1>원OO, 20대 후반, 정보통신공학과 졸</h1>
            <img
              src="https://hanghae99.spartacodingclub.kr/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ffinda-logo.2b20b042.png&w=256&q=75"
            />
            <h2>핀다 데이터기반 금융상품 비교 추천 서비스 (174억+ 투자)</h2>
            <span
              >"프론트엔드 분야로 커리어를 시작하고 싶어서 지원하게 되었고
              99일동안 크루원들과 같이 열정적으로 몰입해서 개발하며 엄청나게
              성장할 수 있었던 좋은 경험이였습니다."</span
            >
          </li>
          <li>
            <h1>홍OO, 20대 초반, 고졸</h1>
            <img
              src="https://hanghae99.spartacodingclub.kr/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmegazonecloud-logo.5c1b17fe.png&w=2048&q=75"
            />
            <h2>
              메가존 클라우드 기업용 클라우드 인프라 구축 서비스 (2380억+ 투자)
            </h2>
            <span
              >"원하는 걸 만들면서 능동적으로 성장했고 같은 꿈을 가진 좋은
              사람들과 협업하는 소중한 경험을 했습니다. 99일 정말 길지도 짧지도
              않은 시간이지만 몰입한다면 원하는 바 이룰 수 있을 거라
              확신합니다."</span
            >
          </li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </body>
</html>
